/* body {
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */


.banner,
.hotel-info {
    display: flex;
    justify-content: space-evenly;
}

.bookChecking,
.formContent,
.selectedInfo,
.hotel-image {
    width: 50%;
}

.img-holder {
    height: 250px;
    width: 350px;
    /* margin-top: 2em; */
}

.selectedInfo {
    margin-left: 4em;
}